[workspace]
resolver = "2"
members = [
    "rpfm_lib",
    "rpfm_lib_esf_wasm",
]

[workspace.package]
version = "4.7.4"
rust-version = "1.80"
edition = "2021"

[profile.dev]
incremental = true

[profile.release]
lto = true
debug = true
